<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.cinema.mapper.MovieBookingMapper">
	<resultMap type="com.spring.cinema.model.Movie" id="movieResult">
		<result property="movieId" column="movie_id"/>
		<result property="movieName" column="movie_name"/>
		<result property="movieStory" column="movie_story"/>
		<result property="movieDate" column="movie_date"/>
	</resultMap>
	<select id="getAllMovieNameList" resultMap="movieResult">
		SELECT movie_id, movie_name 
		FROM movie
	</select>
	
	<resultMap type="com.spring.cinema.model.Theater" id="theaterResult">
		<result property="theaterId" column="theater_id"/>
		<result property="movieId" column="movie_id"/>
		<result property="theaterLoc" column="theater_loc"/>
	</resultMap>
	<select id="getTheaterBymovieId" parameterType="_int" resultMap="theaterResult">
		SELECT distinct t.theater_id,
			   t.theater_loc
		FROM theater t
		INNER JOIN movie_info mi ON t.theater_id = mi.theater_id
		WHERE mi.movie_id = #{movieId}
	</select>
	
	<select id="getdateBymovieId" parameterType="_int" resultType="com.spring.cinema.model.MovieInfo">
		SELECT  *
		FROM movie_info
		WHERE theater_id = #{theaterId} AND movie_id = #{movieId}
	</select>
	<select id="getInfoListBymovieId" parameterType="_int" resultType="com.spring.cinema.model.MovieInfo">
		SELECT distinct *
		FROM movie_info
		WHERE movie_id = #{movieId}
	</select>
	
	<select id="gettimeBymovieId" parameterType="MovieInfo" resultType="MovieInfo">
		SELECT distinct * 
		FROM movie_info 
		WHERE movie_info_date = #{movieInfoDate} AND theater_id = #{theaterId} AND movie_id = #{movieId}
	</select>
	
	<insert id="savebooking" parameterType="com.spring.cinema.model.MovieBooking">
		INSERT INTO movie_booking (user_id,movie_id,theater_id, movie_info_date, movie_info_time)
		VALUES (#{userId},#{movieId},#{theaterId},#{movieInfoDate},#{movieInfoTime})
	</insert>
	
		<!-- 아이디로 예약조회 -->
	<select id="getBookByuserId" parameterType="String" resultType="com.spring.cinema.model.BookingInfo">
    SELECT theater.theater_loc, movie.movie_name, movie_booking.movie_info_date, movie_booking.movie_info_time
    FROM movie_booking
    JOIN theater ON movie_booking.theater_id = theater.theater_id
    JOIN movie ON movie_booking.movie_id = movie.movie_id
    WHERE movie_booking.user_id = #{userId}
</select>
</mapper>
