<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.cinema.mapper.UserMapper">


	<!-- 사용자 이름으로 사용자 조회 -->
	<select id="getUserByuserId" parameterType="string" resultType="com.spring.cinema.model.User">
		SELECT user_id as userId,
				user_name as userName,
				user_password as userPassword,
				user_birth as userBirth,
				user_gender as userGender,
				user_admin as userAdmin 
				FROM user
				 WHERE user_id = #{userId}
	</select>
	
		<insert id="insertUser"
		parameterType="com.spring.cinema.model.User">
		INSERT INTO user (user_id, user_name, user_password, user_birth, user_gender
		)
		VALUES (#{userId}, #{userName}, #{userPassword},
		#{userBirth},#{userGender}
		)
	</insert>
	</mapper>