<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.cinema.mapper.UserMapper">


	<!-- 사용자 이름으로 사용자 조회 -->
	<select id="getUserByuserId" parameterType="string" resultType="User">
		SELECT user_id,
				user_name,
				user_password,
				user_birth,
				user_gender,
				user_admin 
				FROM user
				 WHERE user_id = #{userId}
	</select>
	
	
		<insert id="insertUser"
		parameterType="com.spring.cinema.model.User">
		INSERT INTO user (user_id, user_name, user_password, user_birth, user_gender
		)
		VALUES (#{userId}, #{userName}, #{userPassword},
		#{userBirth},#{userGender}
		)
	</insert>
	
	
	<update id="updateUser" parameterType="com.spring.cinema.model.User">
        UPDATE user SET user_name = #{userName}, 
        				user_password = #{userPassword}, 
        				user_birth = #{userBirth}, 
        				user_gender = #{userGender}
        WHERE user_id = #{userId}
    </update>
   
    <delete id="userDelete" parameterType="String">
    	DELETE 
    	FROM user 
    	WHERE user_id = #{userId}
    
    </delete>
	</mapper>