<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
	  <setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.spring.cinema.model.User" alias="User"/>
		<typeAlias type="com.spring.cinema.model.Movie" alias="Movie"/>
		<typeAlias type="com.spring.cinema.model.Review" alias="Review"/>
		<typeAlias type="com.spring.cinema.model.MovieInfo" alias="MovieInfo"/>
		<typeAlias alias="movieBooking" type="com.spring.cinema.model.MovieBooking"/>
		<typeAlias alias="Theater" type="com.spring.cinema.model.Theater"/>
	</typeAliases>


</configuration>
