
	
		body {
		    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		    margin: 0;
		    padding: 0;
		    background-color: #fdfdf1;
		}
				
		header {
		    padding: 10px 20px;
		    display: flex;
		    position: fixed; 
		    justify-content: space-between;
    		align-items: center;
		    top: 0; /* 화면 상단에 위치 */
		    left: 0; /* 화면 왼쪽에 위치 */
		    width: 100%; /* 전체 너비를 차지 */
		    z-index: 999; /* 다른 요소 위에 표시됨 */
		    background-color: rgba(253, 253, 241, 1); /* Pink 색상을 50% 투명도로 지정 */
		}
		.logo{
		
		}
		
		.nav_menu {
			 display: flex;
		    align-items: center;
		    flex: 1; 
		    list-style: none;
		    padding: 0;
		    margin: 0;
 
		}
		.option {
   			 
     		flex-grow: 1;
   			 text-align: center; 
		}
		
		.log {
		    
		    margin-right:40px;
		}
		
		.nav_menu a{
			color: black;
		    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
		    font-size:20px;
		    text-decoration: none;
		    display: inline-block;
		    padding: 0 5px;
		    transition: background-color 0.3s;
		}
		

		
		
		
		.mag {
		    text-align: center;
		    display: block;
		}
		
		
		section {
		    margin: 20px;
		}
		
		
		h2 {
		    color: #333;
		    text-align: center;
		}
		
		
		.movie-card {
		    width: 250px;
		    height: 500px;
		    border: 1px solid #ddd;
		    border-radius: 8px;
		    overflow: hidden;
		    margin-bottom: 20px;
		    background-color: #fff;
		    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		    display: flex;
		    flex-direction: column; 
		}
		
		.movie-image {
		    flex: 1; 
		    height: auto; 
		    background-size: contain; 
		    background-position: center; 
		    background-repeat: no-repeat; 
		}
		
		
		.movie-details {
		    padding: 16px;
		}
		
		
		.recomend {
		    display: flex;
		    white-space: nowrap;
		    flex-wrap: nowrap;
		    overflow-x: auto;
		    gap: 20px;
		    justify-content: center;
		}
		.recomend li {
		    display: inline-block; 
		    margin-right: 10px; 
		}
	
		.movie-list a {
		    text-decoration: none;
		    color: #333;
		}
		
		
		.booking-form {
		    background-color: #fff;
		    padding: 20px;
		    border-radius: 8px;
		    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		    max-width: 400px;
		    margin: auto;
		}
		
		
		label {
		    display: block;
		    margin-bottom: 8px;
		    font-weight: bold;
		    color: #333;
		}
		
		
		input, select {
		    width: 100%;
		    padding: 10px;
		    margin-bottom: 16px;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}
		
	
		button {
		    background-color: #007bff;
		    color: #fff;
		    padding: 10px;
		    border: none;
		    border-radius: 4px;
		    cursor: pointer;
		}
		
		button:hover {
		    background-color: #0056b3;
		}
		
		
		.mag {
		    text-align: center;
		    display: block;
		}
		
		
		.banner_logo {
		    display: flex;
		}
		
		
		#slideshow-container {
		    padding-top: 125px;
		    display: flex;
		    overflow: hidden;
		    width: calc(304px * 5 + 20px); 
		    position: relative;
		    margin: 0 auto; 
		}
		
		
		.slide {
		    flex: 0 0 auto; 
		    width: 100%; 
		    max-width: 100%;
		    height: auto; 
		    margin-right: 20px; 
		}
		
		.slide img {
		    width: 304px; 
		    height: auto; 
		    margin-right: 10px;
		}
		
		
		::-webkit-scrollbar {
		    width: 5px; 
		    height: 5px;
		    background-color: transparent;
		}
		
		/* Track */
		::-webkit-scrollbar-track {
		    background: transparent;
		}
		
		/* Handle */
		::-webkit-scrollbar-thumb {
		    background: #888;
		}
		

		
	
		@media screen and (max-width: 860px) {
		    
		    #slideshow-container {
		        width: 600px;
		    }
		       .recomend .movie-list {
			        display: flex;
			        flex-wrap: wrap;
			        justify-content: center; 
			    }
			
			    .recomend .movie-list li {
			        width: 50%;
			        box-sizing: border-box;
			        padding: 0 10px;
			    }
		   
		    #toggle {
		        width: 520px;
		        height: 30px;
		        display: block;
		    }
		    
		   
		    .nav_menu {
		        display: none;

		    }
		    
		
		    .nav_menu.active {
		        display: block;
		    }
		    
	
		    .logo {
				
		    }
		    
		   
		    .nav_menu li {
		        margin-bottom: 15px;
		    }
		    
		   
		    header label {
		        display: block;
		        position: fixed;
		        top: 20px;
		        right: 20px;
		        cursor: pointer;
		        font-size: 24px;
		    }
		}
		
		@media screen and (min-width: 861px) {
		   
		    #toggle {
		        display: none;
		    }
		    
		   
		    header label {
		        display: none;
		    }
		}
		
		@media screen and (max-width: 420px) {
		   
		    #slideshow-container {
		        width: 150px;
		    }
		}