 body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #fff;
        }

        #signup-form {
            width: 600px;
            height: 700px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1),
			            -1px -1px 10px rgba(0, 0, 0, 0.1),
			            1px -1px 10px rgba(0, 0, 0, 0.1),
			            -1px 1px 10px rgba(0, 0, 0, 0.1);
        }

        #signup-form h2 {
            text-align: center;
        }

        #signup-form form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
        }

        #signup-form label {
            font-weight: bold;
        }

        #signup-form input[type="text"],
        #signup-form input[type="password"] {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        #signup-form button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

        #signup-form button:hover {
            background-color: #0056b3;
        }

        #login-link {
            text-align: center;
            margin-top: 20px;
        }

        #login-link a {
            color: blue;
            text-decoration: underline;
        }